<div class="container">
    <form target="_blank" action="https://formsubmit.co/5b7e666ca74ab2c8ab3857c0b99d230e" method="POST">
        <div class="form-group">
            <div class="form-row">
                <div class="col">
                    <input type="text" name="Nom" class="form-control" placeholder="Nom Complet" required>
                </div>
                <div class="col">
                    <input type="email" name="email" class="form-control" placeholder="Addresse Email" required>
                </div>
            </div>
        </div>
        <div class="form-group">
            <textarea placeholder="Votre Message" class="form-control" name="message" rows="10" required></textarea>
        </div>
        <button type="submit" class="btn btn-lg btn-dark btn-block">Submit Form</button>
        <input type="text" name="_honey" style="display:none">
        <input type="hidden" name="_next" value="https://sidielwerie.fr/pages/thanks.html">
    </form>
</div>