 





  <br />
  
  <h1>
    <div align="center">
     
      &nbsp;
      <a href="https://www.linkedin.com/in/esem" target="_blank"
        ><i class="fab fa-linkedin" data-fa-transform="shrink-0.5 up-0.5"></i>
        LinkedIn</a
      >
      &nbsp;
      <a href="mailto:sidiwerie@gmail.com"
        ><i class="fas fa-envelope"></i> Email </a
      >
      &nbsp;
      <a
        href="assets/cv1.pdf"
        target="_blank"
        ><i class="fas fa-file" data-fa-transform="shrink-2 up-0.8"></i>
        Mon CV </a>
    </div>
  </h1>